/src/main/resources/.vscode/
.gradle/
.idea/
.settings/
appcompat_v7/
bin/
build/
gen/
gradle/
out/
proguard/
ship/
target/
logs/
.classpath
.idea
.project
.update-config
*.iml
local.properties
/src/main/resources/gen-py/
/src/main/resources/caffe-gpu.py
/src/main/resources/client.py
/src/test/
